body {
	margin: 0;
	padding: 0;
	background-color: #EDEEF0;
}

body a {
	text-decoration: none;
	color: #285473;

}

div {
	padding: 0;
	margin: 0;
}

#header {
	background-color: #4A76A8;
	width: 1000px;
	height: 50px;
	margin: auto;
}

#header a {
	float: right;
	color: #FFFFFF;
	margin-right: 40px;
	margin-top: 10px;
}

#main {
	width: 1000px;
	min-height: 300px;
	margin: auto;
	margin-top: 17px;
}

#sidebar {
	float: left;
	padding-right: 5px;
	width: 195px;
	min-height: 200px;
}

#sidebar li {
	list-style-type: none;
	margin-bottom: 10px;
}

#sidebar li:hover {
	background: #E1E5EB;
}

#content {
	background-color: #FFFFFF;
	float: right;
	width: 780px;
	padding: 10px;
	min-height: 300px;
}

#notify {
    position: fixed;
    display: none;
    padding: 3px;
    bottom: 10px;
    left: 10px;
    width: 220px;
    height: 70px;
    background: rgba(0, 0, 0, 90%);
    color: #FFFFFF;
}

button {
  display: inline-block;
  color: black;
  font-weight: 700;
  text-decoration: none;\
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
} 

button:hover { background: rgba(0, 0, 0,.2); }
button { background: white; }

.bot_block {
    display: inline-block;
    background: rgba(0, 0, 0, 20%);
    vertical-align: top;
    height: 100px;
    width: 130px;
    padding: 7px;
    margin: 5px;
    line-height: 1.5;
}

.bot_block button {
    width: 100%;
    bottom: 20px;
}

.groups {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    line-height: 1.5;
}



